@import "../../scss/variables";
@import "../../scss/buttons";

.myaccount-wrapper {
  background: $backgroundGray;
  min-height: 100vh;
}

.mail-adress-container,
.order-menu-wrapper {
  width: 100%;
}
.mail-adress-area {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  background: $pureWhite;
  max-width: 75vw;
  border-radius: 10px;

  & i,
  h3 {
    margin-left: 15px;
  }

  & i {
    padding: 5px;
    border: 1px solid $backgroundGray;
    border-radius: 50%;
  }
}

.order-menu-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  background: $pureWhite;
  max-width: 75vw;
  border-radius: 10px;
}

.order-menu-links {
  max-width: 97%;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid rgba($categoryBlack, 0.2);
}

.order-menu-link {
  margin-left: 15px;
  text-decoration: none;
  color: $categoryBlack;
  border: none;
  background-color: transparent;

  &:focus {
    color: $categoryClickedBlue;
    border-bottom: 2px solid $categoryClickedBlue;
    padding-bottom: 5px;
  }
}

.logout-button {
  @include button($pureWhite, $rejectionRed, 5px 10px);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & :first-child {
    margin: 0 5px;
  }
}
