@import "../../scss/_variables";

.home-wrapper {
  width: 100vw;
  background: $backgroundGray;
  min-height: 100vh;
}

.banner-container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 80vw;
  border-radius: 8px;
}
