@import "../../scss/variables";
@import "../../scss/buttons";

.fluid-container {
  height: 80px;
  width: 100%;
  background: $pureWhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
}
.navbar-container {
  height: 100%;
  width: 80vw;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  @include button($darkButtonBlue, $lightButtonBlueFocused, 5px 10px);
}

.user-icon {
  font-size: 1.2rem;
  padding-right: 15px;
  display: inline-block;
}

.navbar-button-wrapper {
  display: flex;
  align-items: center;
}

.offer-input {
  position: relative;
  &::before {
    content: "TL";
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgba(0, 0, 0, 0.5);
  }
}
