@import "../../scss/variables";
@import "../../scss/buttons";

.product-info-wrapper {
  display: flex;
  justify-content: center;
  min-height: 88vh;
}

.product-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 75vw;
  margin: 25px 0;
  background: $pureWhite;
}

.letter-capital1::first-letter {
  text-transform: capitalize;
}

.left-product-cover {
  margin-right: 25px;

  img {
    height: 400px;
    border-radius: 10px;
  }
}

.right-product-info {
  max-width: 450px;
}

.final-offered-price {
  max-width: 200px;
  padding: 5px 0;
  background: $backgroundGray;
  border-radius: 5px;
  margin-bottom: 35px;
  margin-top: -15px;
  &::before {
    content: "";
    padding-left: 10px;
  }
  &-subtitle {
    opacity: 0.3;
  }
}

.offerHider {
  display: none;
}

.buy-button {
  @include button($pureWhite, $darkButtonBlue);
  min-width: 200px;
}

.offer-button {
  @include button($darkButtonBlue, $lightButtonBlueFocused);
  min-width: 200px;
}
.item-not-sold {
  @include button($retreiveFontOrange, $retreiveBackgroundOrange);
  cursor: default;
}

.not-able-to-buy {
  padding: 20px 0;
}

.brand-color-status > label {
  display: inline-block;
  width: 150px;
}

// Responsivenes
@media only screen and (max-width: 1033px) {
  .left-product-cover {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .product-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-product-cover {
    margin-right: 25px;

    img {
      margin-top: 5px;
      height: 200px;
    }
  }

  .right-product-info {
    font-size: 0.7rem;
    margin: 0 25px;
  }

  .button-wrapper-detail-page {
    display: flex;
    flex-direction: column;
  }

  .button-wrapper-purchase-button {
    & .buy-button {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .offer-button,
  .buy-button,
  .offer-button {
    width: 100%;
    margin-bottom: 5px;
  }
}
