@import "../../scss/variables";
@import "../../scss/buttons";

.addproduct-wrapper {
  background: $backgroundGray;
  min-height: 100vh;
  color: $fontBlack;
}

.addproduct-container {
  width: 100%;
}

.addproduct-area {
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  background: $pureWhite;
  max-width: 75vw;
  border-radius: 10px;
  min-height: 65vh;
  display: flex;
  flex-wrap: wrap;
}

.left-area {
  flex: 6;
  width: 100%;
  border-right: 1px solid rgba($backgroundGray, 1);
  padding: 0 30px 0 15px;
}

.right-area {
  flex: 4;
  width: 100%;
  padding: 0 15px 0 30px;
}

.sub-container {
  display: flex;
  flex-direction: column;

  &-secondary {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    width: 100%;
  }
}
.addproduct-inputs {
  border: none;
  background: $lightButtonGrayIdle;
  padding: 10px 0 10px 10px;
  border-radius: 8px;

  &:not(first-child) {
    margin-top: 10px;
  }

  &::placeholder {
    padding-left: 5px;
  }

  &:focus {
    border: 1px solid $categoryClickedBlue;
    box-shadow: 0 0 3px $categoryClickedBlue;
    outline-offset: 0px;
    outline: none;
    background: $lightButtonBlueFocused;
  }
}

.price-input {
  margin-bottom: 15px;
}
.addproduct-selects {
  border: none;
  background: $lightButtonGrayIdle;
  padding: 10px 0 10px 10px;
  border-radius: 8px;

  &::placeholder {
    padding-left: 5px;
  }
}

.sub-container-multiple {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
}

.addproduct-labels {
  margin: 10px 0 5px 2px;
}

.textarea-input {
  resize: none;
}

// Right Area

.right-area-container {
  border: 2px dashed rgba($backgroundGray, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.right-area-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.upload-button {
  @include button($buttonFadedBlack, $lightButtonGrayIdle, 15px 50px);
  display: block;
  border-radius: 50px;
  font-weight: 100;
  margin-bottom: 20px;
}

.save-button-container {
  display: flex;
  justify-content: flex-end;
}
.save-button {
  @include button($pureWhite, $categoryClickedBlue, 15px 75px);
  margin: 10px 0;
}
.price-offer-container {
  max-width: 40%;
}
.toggle-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.toggle-option .inputWrapper {
  position: relative;
}

.addproduct-checkbox {
  position: absolute;
  visibility: hidden;

  &:checked + span {
    background-color: $categoryClickedBlue;

    &:before {
      left: 27px;
    }
  }
}

.checkbox-span {
  display: flex;
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 100px;
  background-color: $backgroundGray;
  position: relative;
  transition: background-color 0.2s;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 21px;
    transition: 0.2s;
    background-color: $pureWhite;
  }
}

.uploaded-image-container {
  max-width: 200px;
  position: relative;

  &-close-button {
    position: absolute;
    top: -10px;
    right: -15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;

    &:hover {
      font-size: 2.1rem;
      opacity: 0.8;
    }
  }
}
.uploaded-image-preview {
  max-width: 200px;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.upload-input {
  display: none;
}
@media only screen and (max-width: 600px) {
  .sub-container-secondary {
    max-width: 100%;
  }

  .right-area {
    border-top: 1px solid rgba($backgroundGray, 1);
    margin-top: 30px;
  }

  .left-area {
    border-right: none;
    padding: 0 15px;
  }
  .price-offer-container {
    max-width: 100%;
  }

  .save-button {
    width: 100%;
  }
}
