@mixin button($fontColor, $bgColor, $paddingScale: 8px 50px) {
  padding: $paddingScale;
  color: $fontColor;
  background: $bgColor;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
