// Blue Colors
$darkButtonBlue: #4b9ce3;
$lightButtonBlueFocused: #f0f8ff;
$categoryClickedBlue: #4b9ce2;
$modalBackgroundBlue: #4b9ce2;

//White Color
$pureWhite: #fff;
$backgroundWhite: #fbfbfb;

//Gray Color
$backgroundGray: #f2f2f2;
$lightButtonGrayIdle: #f4f4f4;

//Black Color
$categoryBlack: #525252;
