// Blue Colors
$darkButtonBlue: #4b9ce3;
$lightButtonBlueFocused: #f0f8ff;
$categoryClickedBlue: #4b9ce2;
$modalBackgroundBlue: #4b9ce2;

//White Color
$pureWhite: #fff;
$backgroundWhite: #fbfbfb;

//Gray Color
$backgroundGray: #f2f2f2;
$lightButtonGrayIdle: #f4f4f4;

//Black Color
$categoryBlack: #525252;

//Orange Color
$retreiveFontOrange: #faae60;
$retreiveBackgroundOrange: #fff0e2;
$waitingOrange: #faae60;

//Red Color
$rejectionRed: #f77474;

//Black Color
$fontBlack: #525252;
$buttonFadedBlack: #b1b1b1;

// Green Color
$boughtSuccessGreen: #46af32;
